@import "normalize";
@import "gravityforms";
@import "wordpress";
@import "fontawesome";

// variables
$linkColor: #0000ff;
$linkHover: lighten($linkColor, 10%);
$fontColor: #000;

@import "cw-grid";
@import "cw-mixins"; // This is where we can put custom mixins and classes
@import "bxslider";
// @import "cw-accordion";
@import "cw-slides";
@import "cw-columns";

html, body {
	margin: 0;
	padding: 0;
	color: $fontColor;
	box-sizing: border-box;
}

body {
	position: relative;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
	height: 100%;
	width: 100%;

	// &.mobile-nav-open {
	// 	position: fixed;
	// 	overflow: hidden;
	// }

	&.admin-bar {
		padding-top: 46px;
	}
}

* {
	outline: none!important;
	
	&:hover,
	&:focus {
		outline: none!important;
	}
}

pre {
	position: relative;
	padding: 15px;
	font-size: 10px;
	background-color: rgba(175, 175, 175, .1);
	margin: 15px;
	word-wrap: break-word;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, .1);
}

// reference clases
.vertcent {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.horzcent {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.absocent {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.smoothfont {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.vertical-align {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

//typography
$h2Size: 2em;

h1, h2, h3, h4, h5, h6 {
	margin: 0;

	&.page-title {

	}
}

h1 {
	font-size: 1em;

	&.tribe-events-single-event-title {
		font-size: $h2Size;
	}
}

h2 {
	font-size: $h2Size;
}
h3 {
	font-size: 1.75em;
}
h4 {
	font-size: 1.5em;
}
h5 {
	font-size: 1.25em;
}
h6 {
	font-size: 1em;
}

p, li  {
	font-size: 1em;
	color: $fontColor;
}

p {
	margin: 0 0 1em 0;
}

p:last-child {
	margin-bottom: 0;
}

ul {
	&.styleless {
		list-style-type: none;
		padding: 0;
		margin: 0;
	}
}

a {
	color: $linkColor;
	transition: .25s;
	text-decoration: none;

	&:hover {
		color: $linkHover;
		transition: .25s;
		text-decoration: none;
	}
}

img {
	max-width: 100%;
	height: auto;
}

// ::-webkit-input-placeholder {
//    color: #fff;
// }

// :-moz-placeholder { /* Firefox 18- */
//    color: #fff;
// }

// ::-moz-placeholder {  /* Firefox 19+ */
//    color: #fff;
// }

// :-ms-input-placeholder {  
//    color: #fff;
// }

$inputBg: #fff;

// reset inputs
input[type="text"],
input[type="email"],
input[type="submit"],
input[type="password"],
input[type="tel"],
input[type="button"],
button,
select,
textarea {
	border: 0;
	outline: none!important;
	-webkit-appearance: none;

	.gform_wrapper & {
		border: 0!important;
	}
}

input[type="submit"], input[type="button"], button, .button {
	display: inline-block;
	background-color: $linkColor;
	color: #fff;
	padding: 10px 20px;
	transition: .25s;
	cursor: pointer;

	&.white {
		background-color: #fff;
		color: $linkColor;
	}

	&.small {
		padding: 5px 10px;
		font-size: .875em;
	}

	&:hover {
		background-color: $linkColor;
		color: #fff;
		transition: .25s;
	}
}

input[type="file"] {

}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
textarea,
select {
	box-shadow: 0 0 0 1px rgba(0, 0, 0, .5);
	transition: .25s;
	padding: 10px;
	background-color: $inputBg;
	line-height: 1.3;

	&:hover, &:focus {
		box-shadow: 0 0 0 4px rgba(0, 0, 0, .5);
		transition: .25s;
	}

	.gform_wrapper & {
		padding: 10px!important;
		line-height: 1.3!important;
	}
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"], {

}

textarea {

}

select {
	border-radius: 0;
	background-image: url(../img/select-down.png);
	background-position: right 10px center;
	background-size: 10px 5px;
	background-repeat: no-repeat;
	background-color: $inputBg;

	&[multiple="multiple"] {
		background: none;
		background-color: $inputBg;
	}

	&.ui-datepicker-month,
	&.ui-datepicker-year {
		background: none;
		box-shadow: 0 0 0 0 $fontColor;

		&:hover, &:focus {
			box-shadow: 0 0 0 0 $fontColor;
		}	
	}
}

// .off-canvas-wrap {
// 	position: relative;
// 	width: 100%;
// 	clear: both;
// 	overflow: hidden;
// 	-webkit-backface-visibility: hidden;

// 	.off-canvas-wrap-inner {
// 		position: relative;
// 		top: 0;
// 		width: 100%;
// 		// transform: translate3d(0, 0, 0);
// 		// transform: translateX(0);
// 		transition: .5s;
// 		overflow: visible;
// 	}

// 	.mobile-nav-open & {
// 		min-height: 100%;
// 		-webkit-overflow-scrolling: touch;

// 		.off-canvas-wrap-inner {
// 			// transform: translate3d(75vw, 0, 0);
// 			transform: translateX(-75vw);
// 			transition: .5s;
// 		}
// 	}
// }

.menu-toggle {
	position: fixed;
	bottom: 10px;
	right: 10px;
	display: block;
	cursor: pointer;
	height: 40px;
	width: 40px;
	background: linear-gradient(45deg, lighten($briteBlue, 20%), $briteBlue);
	border-radius: 40px;
	z-index: 99999;

	.fa-bars, .fa-times {
		color: #fff;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
	}

	.fa-bars {
		transform: translateX(-50%) translateY(-50%) scale(1);
		opacity: 1;
		transition: .3s;
	}

	.fa-times {
		transform: translateX(-50%) translateY(-50%) scale(.5);
		opacity: 0;
		transition: .3s;
	}

	.mobile-nav-open & {
		.fa-bars {
			opacity: 0;
			transform: translateX(-50%) translateY(-50%) scale(.5);
			transition: .3s;
		}

		.fa-times {
			opacity: 1;
			transform: translateX(-50%) translateY(-50%) scale(1);
			transition: .3s;
		}
	}
}

// header and nav
[role=banner] {
	position: relative;
	z-index: 10;

	.logo {
		position: relative;

		svg {
			width: 100%;
		}
	}

	// nav
	.mobile-nav-open & {
		.cw-nav-cont {
			[role="navigation"] {
				.menu {
					visibility: visible;
					opacity: 1;
					z-index: 9999;
					transform: translateY(0);
					transition: visibility 0s 0s, opacity .5s 0s, z-index 0s 0s, transform .5s 0s;
				}
			}
		}
	}

	.cw-nav-cont {
		padding: 15px 0;

		[role="navigation"] {
			.menu {
				position: fixed;
				opacity: 0;
				visibility: hidden;
				top: 0;
				left: 0;
				width: 100vw;
				height: 100vh;
				overflow: hidden;
				flex-direction: column;
				transform: translateY(-15px);
				transition: visibility 0s .5s, opacity .5s 0s, z-index 0s .5s, transform .5s 0s;
				background: linear-gradient(45deg, darken(#f4f4f4, 25%), #f4f4f4);
				background-color: #fff;
				background-size: cover;
				margin: 0;
				padding: 30px 0;
				overflow-y: auto;
				z-index: -1;

				.menu-item {
					position: relative;
					display: block;
					margin-right: 0;
					margin-bottom: 5px;

					&:last-child {
						margin-right: 0;
						margin-bottom: 0;
					}

					&:hover {
						>a {
							
						}

						>.sub-menu {
							display: block;
						}
					}

					&.current-menu-item {
						>a {
							
						}
					}

					>a {
						
					}

					.sub-menu {
						position: relative;
						display: block;
						top: auto;
						left: auto;
						margin: 0;
						padding: 0;
						background-color: #f4f4f4;
						z-index: 9999;

						.menu-item {
							display: block;

							a {
								display: inline-block;
								white-space: nowrap;
								padding: 5px 10px;
							}
						}
					}
				}
			}
		}
	}
}

// main content
[role="main"] {
	position: relative;
	margin-bottom: 30px;
	z-index: 1;
	
	.home & {
	}
}

// sidebar
[role="complementary"] {
	.widget {
		margin-bottom: 30px;
	}
}

// footer
[role="contentinfo"] {
	.copy {
		text-align: center;
	}

	.cw {
		text-align: center;
	}
}

.cw-logo {
	display: block;
	width: 150px;

	path {
		fill: #333;
	}
}


// search
[role="search"] {
	position: relative;
	z-index: 9999;

	input[type="text"] {
		width: 100%;
	}

	.search-results {
		position: absolute;
		width: 100%;
		left: 0;
		top: 100%;
		background-color: #fff;
		box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .5);

		.close {
			position: absolute;
			top: -27px;
			right: 10px;
			cursor: pointer;
		}

		.result, .more-results, .no-results {
			padding: 2px 10px;
		}

		.loading {
			position: absolute;
			right: 0;
			top: -27px;
			width: auto;
			text-align: right;
			padding: 0 15px;
			opacity: .5;
		}

		.more-results {
			background-color: #333;
			color: #fff;
			display: block;
		}

		.result {
			position: relative;

			a {
				display: block;
			}

			&:hover {
				&:after {
					height: 4px;
					transition: .25s;
				}
			}

			&:after {
				position: absolute;
				display: block;
				content: '';
				background-color: #333;
				left: 0;
				top: 100%;
				width: 100%;
				height: 0;
				transition: .25s;
			}
		}
	}
}

// tribe events overrides
.tribe-events-schedule h2 {
	font-size: 16px;
}

// gravity forms overrides
.gform_wrapper .ginput_complex.ginput_container {
	overflow: visible!important;
}

// misc stuff, specific stuff, global stuff
.ng-hide, .ng-cloak {
	display: none!important;
}

.pagination {
	clear: both;
	padding: 20px 0;
	position: relative;
	font-size: 11px;
	line-height: 13px;
}
 
.pagination span, .pagination a {
	display: block;
	float: left;
	margin: 2px 2px 2px 0;
	padding: 6px 9px 5px 9px;
	text-decoration: none;
	width: auto;
	color: #fff;
	background: #ccc;
}
 
.pagination a:hover{
	color: #fff;
	background: #666;
}
 
.pagination .current{
	padding: 6px 9px 5px 9px;
	background: #000;
	color: #fff;
}


.cff-likebox {
	margin-left: 0!important;
}

.visually-hidden {
	position: absolute; 
	overflow: hidden; 
	clip: rect(0 0 0 0); 
	height: 1px;
	width: 1px; 
	margin: -1px;
	padding: 0;
	border: 0; 
	top: 0;
	left: 0;
	opacity: 0;
}

.video-container {
	@include responsive-ratio(16, 9);

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

// .hours {
// 	max-width: 40em;
// 	padding: 0;
// 	overflow-x: hidden;
// 	list-style: none;

// 	li {
// 		&:before {
// 			float: left;
// 			width: 0;
// 			white-space: nowrap;
// 			content:
// 			". . . . . . . . . . . . . . . . . . . . "
// 			". . . . . . . . . . . . . . . . . . . . "
// 			". . . . . . . . . . . . . . . . . . . . "
// 			". . . . . . . . . . . . . . . . . . . . ";
// 		}

// 		.day-name {
// 			padding-right: 0.33em;
// 			background: white;
// 		}

// 		.open-close {
// 			float: right;
// 			padding-left: 0.33em;
// 			background: white;
// 		}
// 	}
// }

.gf_captcha {
	display: none;
}

.cf {
	&:before, &:after {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
}

@media all and (min-width: $smlWidth) {
	// .off-canvas-wrap {
	// 	.off-canvas-wrap-inner {
	// 		overflow: hidden;
	// 		// transform: translateY(0) translateX(0);
	// 	}
	// }
	
	.menu-toggle {
		display: none;
	}

	[role=banner] {
		.cw-nav-cont {
			[role="navigation"] {
				.menu {
					position: relative;
					width: auto;
					height: auto;
					left: auto;
					display: flex;
					flex-direction: row;
					align-items: center;
					justify-content: space-around;
					background-color: transparent;
					margin: 0;
					top: auto;
					padding: 0;
					overflow: visible;

					&.open {
						width: auto;
					}

					.menu-item {
						display: inline-block;
						margin-right: 15px;
						margin-bottom: 0;

						&:hover {
							>a {
								
							}

							 >.sub-menu {
								display: block;
							}
						}

						&.current-menu-item {
							>a {
								
							}
						}

						>a {
							
						}

						.sub-menu {
							position: absolute;
							display: none;
							top: 100%;
							left: 0;
							margin: 0;
							padding: 0;

							.menu-item {
								display: block;

								a {
									display: inline-block;
									white-space: nowrap;
									padding: 5px 10px;
								}
							}
						}
					}
				}
			}
		}
	}

	// footer
	[role="contentinfo"] {
		.copy {
			text-align: left;
		}

		.cw {
			text-align: right;
		}
	}
}


@media all and (min-width: 783px) {
	body {
		&.admin-bar {
			padding-top: 32px;
		}
	}
}

 // print styles
@media print {
	* {
		background: transparent !important;
		color: black !important;
		box-shadow:none !important;
		text-shadow: none !important;
		filter:none !important;
		-ms-filter: none !important;
	}
	a, a:visited {  }
	a[href]:after { content: " (" attr(href) ")"; }
	abbr[title]:after { content: " (" attr(title) ")"; }
	.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
	pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
	thead { display: table-header-group; }
	tr, img { page-break-inside: avoid; }
	img { max-width: 100% !important; }
	@page { margin: 0.5cm; }
	p, h2, h3 { orphans: 3; widows: 3; }
	h2, h3 { page-break-after: avoid; }
	body {background:white; 
		font-size:10pt; 
		margin:0; }
	#sidebar { display:none; }
	#header { height:75px; }
	#content{ margin-left:0; 
		float:none; 
		width:auto; }
	.demo .red { color:black; 
		font-weight:bold; }
	#content a { font-weight:bold; 
		color:#000066; 
		text-decoration:underline; }
	#content{ margin-left:0; 
		float:none; 
		width:auto; }
	#footer, .ad { display:none; }
	h1, h2, h3, h4, h5, h6 { page-break-after:avoid; 
		page-break-inside:avoid; }
	h3 { margin-left:10px; 
		margin-bottom:0px; 
		padding-bottom:0px; }
	blockquote, table, pre { page-break-inside:avoid; }
	ul, ol, dl  { page-break-before:avoid; }
	img.centered { display: block; 
		margin-left: auto; 
		margin-right: auto; }
	img.right { padding: 4px; 
		margin: 0 0 2px 7px; 
		display: inline; }
	img.left { padding: 4px; 
		margin: 0 7px 2px 0; 
		display: inline; }
	.right { float: right; }
	.left { float: left; }
	img { page-break-inside:avoid; 
		page-break-after:avoid; }
}